<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin name="TE Tech - Pronunciation Recorder DATA" xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Record and playback name pronunciations" version="23.3.18" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Benjamin Kemp">
    <contact email="kempb@tesd.net"/>
  </publisher>
  <oauth/>
</plugin>